@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

.container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.main > div {	
	background-color: #a5fade;
	min-height: 120px;
}

.main > div:nth-child(2), .main > div:nth-child(3){
	background-color: rgb(148, 235, 206);
}
.box {
	display: flex;
	flex-direction: column;
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.box > div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0;
	margin-top: 5px;
	background-color: #e6fff5;

}

.box > div:nth-child(odd){
	background-color: #c5fdf0;
}

.flex{
	display: flex;
}
.chat-messages {
	display: flex;
	flex-direction: column;
	padding: 30px;
	max-height: 400px;
	overflow-y: scroll;
}

.message{
	padding: 10px;
	margin-bottom: 15px;
	max-width: 90%;
	position: relative;
	word-wrap: break-word;
}

.message:after{
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
}

.message.sent{
	border-radius: 5px 0 5px 5px;
	align-self: flex-end;
	background-color: #c5fdfc;
}

.message.sent:after{
	border-width: 0 0 10px 10px;
	border-color: transparent transparent transparent #c5fdfc;
	top: 0;
	right: -10px;
}

.message.recieved{
	border-radius: 0 5px 5px 5px;
	align-self: flex-start;
	background-color: var(--light-color);
}

.message.recieved:after{
	border-width: 0 10px 10px 0;
	border-color: transparent var(--light-color) transparent transparent;
	top: 0;
	left: -10px;
}
.meta {
	font-size: 10px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-top: 5px;
}

.meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
	overflow-y: unset;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

.video-header{
	display: flex;
	justify-content: space-around;
	height: 50px;
	padding-bottom: 10px;
}

.video-container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 90px);
	width: 100%;
	background-color: var(--light-color);
}

.remote-video{
	height: 100%;
	width: 100%;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.local-video{
	position: absolute;
	right: 30px;
	bottom: 30px;
	width: 250px;
	z-index: 5;
	border: 2px solid #cae2ec;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

video{
	width: 100%;
	height: 100%;
}

@media (max-width: 924px){
	.local-video{
		right: 20px;
		bottom: 20px;
		width: 200px;
	}
}

@media (max-width: 700px){
	.local-video{
		right: 10px;
		bottom: 10px;
		width: 150px;
	}
}

@media (max-width: 700px) {
	.main {
		grid-template-columns: 1fr;
	}
	.main > div:nth-child(3){
		background-color: #a5fade;
	}
	.main > div:nth-child(4){
		background-color: rgb(148, 235, 206);
	}
	.odd{
		background: #fff;
	}
	h1{
		font-size: large;
	}
	h3{
		font-size: small;
	}
	.btn{
		padding: 3px 8px;
		font-size: 13px;
	}
}
